.work {
    background-image: url('../../assets/work/villaBg.svg');
    background-repeat:no-repeat;
    background-size:cover;
}

.work > h2{
    color: #9D2B4A;
    font-size: 3.2em;
    font-weight: 400;
    margin-top: 10%;
    margin-left: 10%;
    line-height: 0.2;
   
}

.work > h4{
    margin-left: 10%;
    font-size: 1.2em;
    font-weight: lighter;
    color: rgba(0,0,0,0.8);
}

.project{
    height: 47em;
    background-image: url('../../assets/work/villa.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    margin: 10%;
    margin-bottom: 5%;
}

.factors{
    display: flex;
    margin: 0 18%;
}
.factors img{
    height: 18%;
}
.factors > .fac_approach{
    margin-left: 8%;
}
.factors h2{
    color: #9D2B4A;
    font-size: 2.2em;
    font-weight: 400;
    text-transform: uppercase;
}

.factors p {
    font-size: 1em;
    font-weight: lighter;
}
.project_pic{
    height: 32em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
}
.project_pic > *{
    background: #d4d4d4
}
.project_pic > .left_pic{
    background-image: url('../../assets/work/villa2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width: 15%
}
.project_pic > .right_pic{ 
    background-image: url('../../assets/work/villa3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width: 5%
}

.project_pic > .middle_pic{
    background-image: url('../../assets/work/villa1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0 2%;
    flex-grow: 1;
}

@media screen and (max-width: 480px){
    .work > h2{
        font-size: 1.7em;
    }
    .work > h4{
        font-size: 1em;
    }
    .project{
        height: 16em;
        margin: 0 auto;
    }
    .factors{
        flex-flow: column;
        margin: 15% 7%;
        justify-content: flex-end;
    }
    .factors p{
        font-size: 0.9em;
    }
    .factors h2{
        font-size: 2em
    }
    .factors > .fac_approach{
        margin-left: 0;
    }

    .factors img{
        height: 4em;
        width: 4em;
    }

    .project_pic{
        height: 12em;
    }

}
