.capaa {
    margin: 0;
    padding: 6% 0%;
    background-image: url('../../assets/approach/pattern-1.svg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.capa{
    width: 40%;
    margin: 0% auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.capa > h2{
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    color: #9D2B4A;
    text-transform: uppercase;
    
}

.capa > hr {
    width: 100%
}

.capa > p{
    text-align: center;
    font-size: 1em;
    font-weight: 00;
    opacity: 0.9;
}
@media screen and (max-width: 480px){
    .capaa {
        background-image: url('../../assets/approach/pattern-1a.svg');
    }
    .capa{
        width: 80%;
        margin-top: 10% !important;
    }
    .capa > h2 {
        text-align: left  !important;
        font-size: 1.5em !important;
        font-weight: 400;
    }
    .capa > p {
        font-size: 0.9em;
    }
}