
.contact-detail{
    display: flex;
    padding: 10% 8%;
    background-image: url('../../assets/bg-new.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.contact-detail > .detail{
    flex-grow: 1;
    width: 50%;
    color: rgba(0,0,0,0.8);
    font-weight: lighter;
    box-sizing: border-box;
    padding-right: 13em;
}

.detail > h2 {
    font-weight: 400;
}

.form{
    width: 50%;
    padding: 3em;
    box-sizing: border-box;
    -webkit-box-shadow:  0px -5px 45px -8px rgba(0,0,0,0.1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     0px -5px 45px -8px rgba(0,0,0,0.1);  /* Firefox 3.5 - 3.6 */
    box-shadow:          0px -5px 45px -8px rgba(0,0,0,0.1);
}
.form > form{
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    box-sizing: border-box;
}
.form > form > input{ 
    height: 4em;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 2em;
}
.form > form > textarea{
    margin-bottom: 1em;
    height: 23em;
    border: none;
    background: #fcfcfc;
    border-bottom:1px solid black;
}
.form > form > button{
    height: 62px;
    width: 32%;
    background: #9D2B4A;
    color: #fff;
    font-size: 1em;
    border: none;
}

@media screen and (max-width: 480px){

    .contact-detail{
        flex-flow:column;
    }
    .contact-detail > .detail{
        width: 100%;
        padding: 0;
    }
    .detail{
        padding: 0;
        width: 100%;
    }
    .form{
        width: 100%;
    }
    .form > form > textarea{
        height: 15em;
    }
}