.App {
  font-family: 'Museo Sans',  Arial, Helvetica, sans-serif ;
  letter-spacing: 1px;
  font-weight: 100;
  background: #fff;
  line-height: 25px;
}
/*/////////////////////////BANNER STYLE ////////////////////////////*/
.banner{
  height: 42em;
  width: 100%;
  display: flex;
  align-items: flex-end;
  color: #fff;
  background-image: url('./assets/2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner2{
  height: 42em;
  width: 100%;
  display: flex;
  align-items: flex-end;
  color: #fff;
  background-image: url('./assets/slider2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner3{
  height: 42em;
  width: 100%;
  display: flex;
  align-items: flex-end;
  color: #fff;
  background-image: url('./assets/slider3.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.banner > h2, .banner2 > h2, .banner3 > h2{
  margin: 1.1em 2em;
  /* margin-left: 2.8em; */
  font-size: 4.5em;
  font-weight: 400;
}


/* /////////NAGIVATION STYLE/////////// */
.comp1{
  background-color: none;
  color: white;
  height: 45em;
  background-image: url('./assets/slider1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  
}

.comp1a{
  background-color: rgba(0,0, 0, 0.97);
  height: 4.4em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

.nav{
  color: white;
  display: flex;
  height: 4.4em;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.logo{
  background-color: transparent;

}

.menu{
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
}

.nav-links a {
  color: rgb(255,255,255);
  text-decoration: none;
  font-size: 13.5px;
  transition: 0.4s
}

.nav-links a:hover {
  color: #9D2B4A;
  transition: 0.4s
}

.nav-active {
  color: #9D2B4A;
  transition: 0.4s
}

.menu > li {
  list-style: none;
  padding-left: 2.7em;
}
 
.nav > .hamburger{
  height: 50px;
  width: 50px;
  background: tomato;
  display: none;
}





/* ///////// SLIDERS & SLIDER TEXT/////////// */
.slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  
}

.slide > img{
  width: 100%;
}

.slider {
  display: flex;
}

.slideText{
  height: 13em;
  width:80%;
  display: flex;
  flex-direction: column;
 
  
}

.slideText > p {
  font-weight: 400;
  font-size: 2em;
  margin-top: 1%;
}

.slideSelector{
  display: flex;
  flex-direction: row;
  width: 25%;
  margin-top: -1.5%;
  
}

.indicators {
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: space-between;
  margin-top: 2%;
}

.country {
  background: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 6px ;
  color: #9D2B4A;
  margin-left: 20px;
  font-weight:500
} 




/* ///////// COMP2 STYLE /////////// */
.comp2{
  background-color: white;
  color: rgb(69, 17, 21);
  height: 32em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.comp2a{
  width: 80%;
  display: flex;
  align-items: center; 
  /* background-color: red; */
}

.abstract{
  width: 50%;
}

.header{
  font-size: 2em;
    text-align: left;
    font-weight: 400;
    line-height: 1.2em;
    color: #9D2B4A;
    text-transform: capitalize;
}

.bodyText{
  font-size: 16x;
  line-height: 1.6em;
  font-weight:300;
  text-align: justify;
}

.abstractImage{
  width: 60%;
}

.button{
  padding: 20px;
  background-color: #9D2B4A;
  color: white;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  width: 30%;
  margin-top: 10%;

}



/* ///////// COMP3 STYLE /////////// */
.comp3{
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/pattern-2.svg');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.comp3a{
   width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  
}

.servicesContent{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
}

/* .servicesContentColumn{
  display: flex;
  flex-direction: column;
  flex:1;
  align-items: space-between; 
} */

.test-now {
  display: flex;
  flex-direction: column;
}

.acImage{
  display: flex;
  flex-direction: row;
  width: 50%;

}
.acContent > h2{
  font-weight: 500;
  font-size: 1.6em;
  opacity: 0.75;
}

.acContent{
  display: flex;
  flex-direction: column;
  /* background: green */
}

.acImage2{
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  /* height: 12vw;
  width: 10vw; */
}



/* ///////// COMP4 STYLE /////////// */

.comp4{
  background-color: #fff;
  height: 40.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.comp4 > .about {
  height: 26em;
  width: 85%;
  -webkit-box-shadow: 0px -5px 47px 4px rgba(0,0,0,0.1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px -5px 47px 4px rgba(0,0,0,0.1);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px -5px 47px 4px rgba(0,0,0,0.1);
}

.comp4 > .about{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  position: relative;
}

.comp4 > .about > .left_arrow{
  flex-grow: 1;  
}
.comp4 > .about > .right_arrow{
  flex-grow: 1;  
  text-align: right;
}

.comp4 > .about > .content{
  text-align: center;
  flex-flow: column;
  display: flex;
  width: 57%;
}
.comp4 > .about > .content > hr{
  width: 30%
}
.comp4 > .about > .face_img{
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 100%;
  background-image: url('./assets/teste.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  top: -12%;
}


/* ///////// COMP5 STYLE /////////// */



.comp5{
  background-color: black;
  color:  rgb(235, 226, 226);
  height: 22.2em;
  display: flex;
  justify-content: center;
  align-items: center;

}
.comp5 > .city{
  display: flex;
  flex-flow: column;
  height: 15em;
  width: 28%;
  margin: 1em
}
.comp5 > .city > img{
  height: 15em;
  width: 100%;
  background: magenta
}
.comp5 > .view{
  height: 15em;
  width: 22%;
  
}
/* ///////// COMP6 STYLE /////////// */

.comp6{
  background-image: url('./assets/footerBg.svg');
  background-size: cover;
  color:  rgb(235, 226, 226);
  height: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: black;
}
.comp6 > button{
  height: 60px;
  width: 180px;
  margin-left: 5em;
  background: #9D2C4A;
  color: #fff;
  font-size: 0.8em;
  font-weight: 100;
  border: none;
}
/* ///////// COMP7 STYLE /////////// */
.comp7{
  background-color: #9D2C4A;
  color:  rgb(235, 226, 226);
  height: 18em;
  display: flex;
  justify-content: space-between;
}

.comp7 > .left_content{
  display: flex;
  flex-flow: column;
  color: #fff;
  padding: 9%;
  justify-content: center;
}
.comp7 > .left_content > .logo{
  height: 5em;
  width: 30%;
  margin-bottom: 1em;
}
.left_content > .logo > img{
  height: 100%;
  width: 195%;
  
}
.comp7 > .left_content > .contact{
  margin-bottom: -1em;
}
.left_content > .social > ul{
  display: flex;
  padding: 0;
  list-style: none;
}
.left_content > .social > ul > li{
  height: 50px;
  width: 50px;
  /* background: black; */
  /* margin-right: 0.1em; */
  border-radius: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-top: 2%;
  
}
.comp7 > .right_content{
  justify-content: center;
  display: flex;
  flex-flow: column;
  width: 50%;
  align-items: right;
  background-image: url('./assets/pattern22.svg');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  justify-content: flex-start
}

.comp7 > .right_content > div:nth-child(1){
  display:flex;
  font-size: 0.9em;
  width: 100%;
  align-items: right;
  justify-content: right;
  margin: 7% 25%; 
}

.right_content > div:nth-child(1) > div{
  margin-right: 6%;
  
}
.right_content > div:nth-child(2) {
  font-size: 0.9em;
  margin-left: 40%;
  margin-top: -5%;
}

.contact {
  font-size: 13px;
}




/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
/**************** MEDIA QUERIES ************************/
@media screen and (max-width: 750px){
  
  /* .nav > .hamburger{
    display: block;
  } */

  /* .menu{
    display: none;
  } */

  


}

@media screen and (max-width: 480px){
  .nav > .hamburger{
    display: block;
  }

  .menu.close{
    display: none !important;
  }
  .menu.open{
    display: flex !important;
    position:fixed;
    z-index: 20000;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #9D2B4A;
    margin: 0;
    flex-flow: column;
    justify-content: center;
  }
  .menu > .close{
    height: 50px;
    width: 50px;
    background: #fff;
    position: absolute;
    top: 4%;
    left: 77%;
  }
  .menu > li{
    padding: 3% 0;
  }
  .nav-links  a{
    font-size: 1.3em !important;
  }
  .logo > img {
    height: 13vw;
    width: 36vw;
  }





  .about_cult, .buss_cult {
    width: 90% !important;
  }

  .culture h2 {
    text-align: left  !important;
    font-size: 1.5em !important;
    font-weight: 400;
  }

  .culture p{
    font-size: 0.9em !important;
  }

  .banner > h2{
    margin: 2.2em 0.5em !important;
    font-size: 3.5em !important;
  }

  .banner2 > h2, .banner3 > h2 {
    margin: 2.2em 0.5em !important;
    font-size: 3.5em;
    font-weight: 400;
  }






  /* /////////COMPONENT 1 ///////*/
  .comp1{
    height: 31em;
  }
  .comp2a{
    flex-flow:column !important;
  
  }
  .comp2a > .abstract{
    width: 100% !important;
  }
  .slideText{
    width: 80% !important;
    height: 9em !important;
  }
  .slideText > div:nth-child(1){
    font-size: 0.7em !important
  }
  .slideText > div:nth-child(2){
    font-size: 1.2em !important
  }
  .slideSelector{
    margin-top: 6%;
    font-size: 0.7em;
  }
  .indicators{
    padding-top:0 !important;
    margin-top: 16%;
  }
  .indicators > *{
    margin-right: 5%;
  }

  .comp2{
    height: initial;
  }
  .comp2a{
    width: initial;
  }
  .comp2a > .abstract{
    width: 90% !important;
    order: 2;
  }
  .header{
    font-size: 1.5em;
    font-weight: 400;
  }
  .bodyText{
    font-size: 0.9em;
  }
  .button{
    padding: 3%;
    width: 40%;
    font-size: 0.8em;
  }
  /*//////// COMP3 //////////*/
  .comp3{
    margin-top: 5% !important;
    background-image: none;
  }
  .comp3a{
    width: initial !important;
    align-items: center;
    
  }
  .servicesContent{
    width: 90% !important;
    margin-top: 3%;
  }
  .acImage{
    width: initial !important;
    margin: 0 !important;
    margin-top: 8% !important;
  }
  .acImage2{
    /* height: 0 !important; */
    width: 24% !important;
    padding-top: 0 !important;
  }
  .acContent > h2{
    margin: 1% !important;
    font-size: 1.2em !important
  }
  .acContent > p {
    font-size: 0.9em !important;
    /* line-height: 1.2 !important; */
  }
  /*////// COMP4 //////////*/
  .comp4 > .about{
    height: 26em;
    width: initial
  }
  .comp4 > .about > .left_arrow {
    display: none;
  }
  .comp4 > .about > .right_arrow {
    display: none;
  }
  .comp4 > .about > .content{
    font-size: 0.95em;
    height: 71%;
    display: flex;
    justify-content: center;
    width: initial;
  }
  .content > p{
    font-size: 0.9em
  }
  .comp7{
    height: initial;
    flex-flow:column;
    justify-content: normal;
  }
  .right_content{
    width: 100%;
    align-items: center;
  }
  .comp7 > .right_content > div:nth-child(1){
    width: 100%;
    flex-wrap: wrap;
    
  }

  .right_content > div:nth-child(1) > div{
    margin: 0.2em;
    width: 40%;
  }


  .comp7 > .right_content > div:nth-child(2){
    margin-top: 0.7em;
  }

  /*///////// PROJECTS COMPONENT /////////////*/
  .comp5{
    flex-flow: column;
    height:initial;

  }
  .comp5 > .view{
    height: initial;
    width: 30%;
    padding: 2em
  }
  .comp5 > .city{
    flex-flow: column;
    width: 77%;
    margin: 1em;
    align-items: center;
    height: initial;
  }
  .comp5 > .city > span{
    margin: 1em;
  }

  /*///////////// START COMPONENT //////////////*/
  .comp6{
    flex-flow: column;
    height: 20em;
  }
  .comp6 > button{
    margin: 0;
    margin-top: 10%;
  }

  /*///////////// BANNER COMPONENT /////////////*/
  .banner > h2{
    margin: 10%;
  }

}

