.culture{
    display: flex;
    padding: 3% 5%;
    justify-content: center;
    background-image: url('../../assets/approach/pattern.svg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.about_cult, .buss_cult {
    /* background: red; */
    padding: 4% 6%;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.buss_cult {
    display: none
}

.culture h2{
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    color: #9D2B4A;
    text-transform: uppercase;
}
.culture p{
    font-size: 1em;
    font-weight: 100;
    opacity: 0.9;
    /* line-height: 25px; */
}
.approach > .right_app{
    flex: 3.5;
    background-color: #d5d5d5
}
.approach > .left_app{
    flex: 7;
}
.approach{
    display: flex;
    background-color: #F6F6F6;
}

.right_app {
    background-image: url('../../assets/approach/44.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center
}

.right_app > span {
    display: none
}
.left_app{
    padding: 4em 0em 4em 9em;
    box-sizing: border-box;
}
.left_app > .apps > .app{
    width: 30%;
    /* margin: 0em 0em 0em 0em; */
    box-sizing: border-box;
    padding: 2em 2em 2em 0em;
}
.left_app > .apps {
    display: flex;
    flex-wrap: wrap;
}
.left_app > .apps > .app > img{
    height: 4em;
}

.left_app > h2{
    color: #9D2B4A;
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: 700;
    text-transform: uppercase;
}
.icon-text{
    font-size: 1em;
    font-weight: 100
}
.team_section{
    background-image: url('../../assets/approach/pattern2.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    /* margin: 7% 2%; */
    padding: 0% 2% 7% 2%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.team_section > h2{
    font-size: 2em;
    font-weight: 700;
    color: #9D2B4A;
    margin-top: 5%;
    text-transform: uppercase;
}
.teams{
    display: flex;
    justify-content: space-around;
    width: 85%;
    /* background: red; */
}
.team{
    height: 32em;
    display: flex;
    flex-flow: column;
    width: 23%;
}
.team_img1{
    flex-grow:1;
    background-image: url('../../assets/approach/yomi.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.team_img2{
    flex-grow:1;
    background-image: url('../../assets/approach/mike.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.team_img3{
    flex-grow:1;
    background-image: url('../../assets/approach/dolapo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.team_img4{
    flex-grow:1;
    background-image: url('../../assets/approach/tobi.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.team_text{
    height: 20%;
    border-top: 8px solid #9D2B4A;
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 6%;
    box-sizing: border-box;
    font-weight: 100;
}

@media screen and (max-width: 480px){
    .culture{
        flex-flow: column;
    }
    .culture p{
        font-size: 1em;
    }
    .approach{
        flex-flow: column;
    }
    .approach > .right_app{
        height: 7em;
        order: 1;
        width: 100%;
    }
    .approach > .left_app{
        order: 2;
    }
    .left_app{
        padding: 0;
    }
    .left_app > h2{
        display: none;
    }
    .right_app{
        display: flex;
        align-items: center;
    }
    .right_app > span {
        display: block;
        color: #fff;
        font-size: 1.5em;
        font-weight: 400;
        display: flex;
        align-items: center;
        margin-left: 2%
    }
    .left_app > .apps > .app{
        padding: 2em 2em 2em 3em;
        font-size: 0.9em;
        width: 50%;
        margin: 0em 0;
    }
    .icon-text{
        font-size: 1em;
    }
    .mobile-appr {
        margin-top: 50px;
        margin-right: 7em;
    }

    .App {
        line-height: 22px;
    }

    .team_section > h2{
        text-align: right  !important;
        font-size: 1.5em !important;
        font-weight: 400;
    }

    .teams {
        flex-wrap: wrap;
    }
    .team{
        height: 22em;
        width: 45%;
        margin: 2%;
    }
    .team > .team_text{
        margin-bottom: 6%;
        font-size: 0.7em;
    }
}